// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form{
  width: 700px;
  margin: 0 auto;
  text-align: center;
  border: solid grey;
}

#inner{
  border: solid grey;
}

#outer{
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

textarea#post_body{
  resize: none;
}
